*{
    border: 0;
    padding: 0;
    margin: 0;
}

/* fix gutter width */
.ace_gutter{
    width: 30px !important;
}
.ace_gutter-cell{
    padding-left: 9px;
    padding-right: 0px;
}

/* hide the context menu */
.ace_mobile-menu{
    display: none !important;
}




.nav{
    position: absolute;
    height: 2em;
    width: 100%;
    background-color: #343434;
}
.nav-items{
    margin-left: .3em;
    margin-right: .3em;
}
.sidebar{
    display: none;
    position: absolute;
    height: 95.6%;
    width: 8em;
    background-color: #777777;
    bottom: 0;
    z-index: 1;
}
#editor{
    position: absolute;
    height: 95.6%;
    left: 0;
    right: 0;
    bottom: 0;
}