#editor{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* fix gutter width */
.ace_gutter{
    width: 30px !important;
}
.ace_gutter-cell{
    padding-left: 9px;
    padding-right: .6px;
}
